{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mini Cart</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href=
"https://p1.hiclipart.com/preview/469/940/964/shopping-cart-shopping-bag-online-shopping-retail-shopping-centre-grocery-store-logo-png-clipart.jpg"
          type="image/x-icon">
          <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-ios.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/contact.css' %}" rel="stylesheet" />
    <link href="{% static 'css/index.css' %}" rel="stylesheet" />
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-toggleable-md navbar-dark">
        <div class="container">
           <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button> 
          <a class="navbar-brand" href="#" style="font-family: 'Kalam', cursive;font-size: 2rem;"><strong><i class="bi bi-cart4" style="color: red;"></i>Mini Cart</strong></a>
          <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link"href="{% url "home"  %}" >Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "product" "smartphone" %}" >Mobiles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "product" "laptops" %}" >Laptops</a>
              </li>
              <li class="nav-item dropdown btn-group">
                <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More Products</a>
                <div class="dropdown-menu dropdown bg-dark " aria-labelledby="dropdownMenu1">
                  <a class="text-light btn btn-sm" href="{% url "product" "smartwatch" %}">Smart Watch</a>
                  <a class=""></a>
                  <a class=""></a>
                </div>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url "account"  %}" >Account</a>
              </li>
                <li class="nav-item">
                  <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}

                    <button class="nav-link btn-danger" type="Submit">Logout</button>
                  </form>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url "login"  %}" >Login</a>
                </li>
              {% endif %}
            </ul>
            <form class="form-inline waves-effect waves-light">
               <input class="fs-5 font-monospace p-2" type="text" placeholder="Search" />
            </form>
          </div>
        </div>
      </nav>
      <!-- /.Navbar -->
    </header>

    {% block content %}

    {% endblock %}

    <!-- Footer -->
    <footer class="page-footer center-on-small-only">
      <!-- Footer Links -->
      <div class="container-fluid">
        <div class="row">
          <!-- First column -->
          <div class="col-md-3 offset-lg-1 hidden-lg-down">
            <h5 class="title">ABOUT Mini-Cart</h5>
            <p>Mini-Cart Private Limited</p>

            <p>Minicart E-commerce</p>
          </div>
          <!-- /.First column -->

          <hr class="hidden-md-up" />

          <!-- Second column -->
          <div class="col-lg-2 col-md-4 offset-lg-1">
            <h5 class="title">About us</h5>
            <ul>
              <li>
                <a href="#!">Adress</a>
              </li>
              <li>
                <a href="#!">Team</a>
              </li>
              <li>
                <a href="#!">Phone number</a>
              </li>
            </ul>
          </div>
          <!-- /.Second column -->

          <hr class="hidden-md-up" />

          <!-- Third column -->
          <div class="col-lg-2 col-md-4">
            <h5 class="title">Metrics</h5>
            <ul>
              <li>
                <a href="#!">Mobiles</a>
              </li>
              <li>
                <a href="#!">Laptops</a>
              </li>
              <li>
                <a href="#!">Ear Phones</a>
              </li>
              <li>
                <a href="#!">Smart Watches</a>
              </li>
            </ul>
          </div>
          <!-- /.Third column -->

          <hr class="hidden-md-up" />

          <!-- Fourth column -->
          <div class="col-lg-2 col-md-4">
            <h5 class="title">Useful links</h5>
            <ul>
              <li>
                <a href="#!">Pricing</a>
              </li>
              <li>
                <a href="#!">Delivery</a>
              </li>
              <li>
                <a href="#!">Countries</a>
              </li>
              <li>
                <a href="#!">Returns</a>
              </li>
            </ul>
          </div>
          <!-- /.Fourth column -->
        </div>
      </div>
      <!-- /.Footer Links -->

      <hr />

      <!-- Call to action -->
      <div class="call-to-action">
        <h4>Created By Minicart</h4>
        <br />
        <h5>The best products available in market</h5>
        <ul>
          <li>
            <a target="_blank" href="http://mdbootstrap.com/getting-started/" class="btn btn-info">Buy now!</a>
          </li>
          <li>
            <a target="_blank" href="http://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-default">Learn more</a>
          </li>
        </ul>
      </div>
      <!-- /.Call to action -->

      <!-- Copyright -->
      <div class="footer-copyright">
        <div class="container-fluid">
          © 2023 Copyright: <a href="http://www.MDBootstrap.com">Mini.com</a>
        </div>
      </div>
      <!-- /.Copyright -->
    </footer>
    <!-- /.Footer -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
      new WOW().init()
    </script>
  </body>
</html>
