{% extends 'base.html' %}
{% block content %}
  {% load static %}
  <!-- Section 1 -->
  <div class="main-body" style="">
    <section id="section1">
      <div class="container pt-3">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1701195084_Bestever_deals_on_earbuds_soundbars_and_more_Desktop.jpg?im=Resize=(1680,320)" class="d-block w-100" height="300vh" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="{% static 'Images/banner2.webp' %}" class="d-block w-100" height="300vh" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="{% static 'Images/banner3.webp' %}" class="d-block w-100" height="300vh" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="{% static 'Images/banner4.webp' %}" class="d-block w-100" height="300vh" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="{% static 'Images/banner5.webp' %}" class="d-block w-100" height="300vh" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="{% static 'Images/banner6.webp' %}" class="d-block w-100" height="300vh" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="{% static 'Images/banner7.webp' %}" class="d-block w-100" height="300vh" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="{% static 'Images/banner7.jpg' %}" class="d-block w-100" height="300vh" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </section>

    <main>
      <div class="container">
        <div class="row gap-3">
          <div class="col-md-3 border rounded p-2">
            <div class="d-block">
              <i class="bi bi-cart-fill text-warning "></i><span class="text-success">100% Free Delivery</span>
            </div>
            <p>We Offer Free Deliver All Over India</p>
          </div>
          <div class="col-md-3 border rounded p-2">
            <div class="d-block">
          
              <i class="bi bi-patch-check-fill text-warning "></i><span class="text-success">Verified Products</span>
            </div>
            <p>Products Verified By Our Team</p>
          </div>
          <div class="col-md-3 border rounded p-2">
            <div class="d-block">
              <i class="bi  bi-cash-coin text-warning "></i><span class="text-success">100% Assured Cashbacks</span>
            </div>
            <p>Assured Cashbacks On Specific Products</p>
          </div>
          <div class="col-md-2 border rounded p-2">
            <div class="d-block">
              <i class="bi bi-box2-heart-fill text-warning "></i><span class="text-success">Open Box Delivery</span>
            </div>
            <p>Open Box Delivery Availabele </p>
          </div>
        </div>
      </div>

      <!-- Popular Components -->
     <div class="div-pop rounded" >
      <div class="pt-3 container" >
        <h1 class="popular" >Popular SmartPhones</h1>
       
        <div class="row">
          <div class="col-md-12 popular">
            <div class="row row-cols-1 row-cols-md-4 g-4">
              {% for mob in mobiles %}
              <a class="nav-link" href="{% url "product" "smartphone" %}" >
              <div class="col item">
                <div class="card popular-card">
                  <img src="{{mob.pro_image.url}}" class="card-img-top popular-img mt-4" alt="..."  style="height:200px !important;padding-right: 20px;"/>
                  <div class="card-body ">
                    <h5 class="card-title">{{mob.pro_name}}</h5>
                    <p class="card-text">{{mob.pro_desc}}</p>
                    <p class="card-text fs-5 ">Rs {{mob.pro_price}}</p>
                    
                  </div>
                </div>
              </div>
            </a>
              {% endfor %}

             
              
              
            </div>
            
          </div>
        </div>

        <div class="pt-3 container" >
          <h1 class="popular" >Popular Laptops</h1>
         
          <div class="row">
            <div class="col-md-12 popular">
              <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for mob in laptop %}
                <a class="nav-link" href="{% url "product" "laptops" %}" >
                <div class="col item">
                  <div class="card popular-card-lap"  style="height: 25vw;">
                    <img src="{{mob.pro_image.url}}" class="card-img-top popular-img mt-4" alt="..."  style="height:150px !important;padding-right: 20px;"/>
                    <div class="card-body ">
                      <h5 class="card-title">{{mob.pro_name}}</h5>
                      <p class="card-text">{{mob.pro_desc}}</p>
                      <p class="card-text fs-5 ">Rs {{mob.pro_price}}</p>
                      
                    </div>
                  </div>
                </div>
              </a>
                {% endfor %}
  
               
                
                
              </div>
              
            </div>
          </div>
        
      </div>

     </div>
      <!-- /.Main layout -->
    </main>
  </div>
<!--Section2-->
  <div class="sec2">
    <img src="{% static 'Images/newyear.jpg' %}" alt="" width="100%" class="rounded" height="250px">
  </div>

  <div class="div-blogs ">
    <div class="container pt-3">
     <div class="d-flex align-items-center justify-content-evenly p-3"> <h1 class="popular " >Blogs</h1> <a href="" class="btn btn-secondary"> CreateBlog<i class="bi bi-pencil-square text-danger px-3"></i></a></div>
    <div class=" row row-cols-1 row-cols-md-2 g-4 ">
      <div class="col">
        <div class="card ">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  </div>
{% endblock %}
