{% extends "createblog.html" %}
{% block content3 %}
<div class="container">
   {% for val in  query %}
   
   <div class="card mb-3 shadow border-warning mt-3 p-3" style="width: 840px;height: 300px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{val.image.url}}" class="img-thumbnailrounded-start w-75" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title text-capitalize">{{val.title}}</h5>
          <p class="card-text h-50 lh-base">{{val.description}}</p>
          By  <span class="fw-bold text-primary text-capitalize">{{ val.username.get_username }} </span>
          <p class="card-text"><small class="text-body-secondary text-capitalize" > Posted On {{val.postedate}}</small></p>
        </div>
       <div class="d-flex justify-content-evenly">
        <a href="{% url "editblogs" val.id %}" class="btn btn-warning">Update</a>
        <a href="{% url "deleteblog" val.id %}" class="btn btn-danger">Delete</a>
       </div>
      </div>
     
    </div>
   
  </div>
   {% endfor %}
</div>
{% endblock content3 %}