{% extends "accounts.html" %}
{% block content2 %}

<table class="table table-dark">
   {% if query %}
   <thead>
    <tr>
        <th scope="col">No of items</th>
        <th scope="col">Product Image</th>
        <th scope="col">Product Name</th>
        <th scope="col">
        Order At
        </th>
        <th scope="col">
          Quantity
        </th>
        <th scope="col">Total Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Arriving ON</th>
        <th scope="col "><span class="text-danger">Cancel</span></th>
      </tr>
</thead>
   {% endif %}
    <tbody>
      {% for val in query %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td class=""> <img src="{{ val.product.pro_image.url }}" class="img-fluid rounded-start" alt="..."  style="height:150px;width: 150px;"/></td>
          <td>{{ val.product.pro_name }}</td>
          <td>
           {{ val.orderd_at }}
          </td>
          <td>
            {{ val.quantity }}
          </td>
          <td>
          Rs  {{ val.total_amount }}
          </td>
          <td>
            <a href="#" class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" style="--bs-focus-ring-color: rgba(var(--bs-success-rgb), .25)">
              {% if val.Status == "pending" %}
              <span class="text-warning">{{ val.Status }}</span>
              {% elif val.Status == "dispatched" %}
              <span class="text-success">{{ val.Status }}</span>
              {% endif %}
            </a>
           
          </td>
          <td>
           {{val.deliveron}}
          </td>
          <td>

            {% if val.Status == "dispatched" %}
            <a href="#" class="btn btn-sm btn-danger" disabled >No Cancel Available</a>
            {% else %}
            <a href="{% url " cancelorder" val.id  %}" class="btn btn-sm btn-danger">Cancel</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content2 %}
