.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #3498db, #8e44ad);
    font-family: Arial, sans-serif;
}

.cards {
    width: 300px;
    height: 200px;
    background: linear-gradient(to bottom right, #e74c3c, #f39c12);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-contents {
    text-align: center;
    color: #fff;
    padding: 20px;
}

.cards:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
